#hero-section .content {
    margin: var(--container-margin-y) var(--container-margin-x);
  }
  
  .section {
    flex-direction: column;
  }
  .text-area {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--container-margin-y);
  }
  .text-area > * {
    display: flex;
    flex-direction: column;
  }
  .title-paragraph-block {
    gap: var(--title-text-gap);
    max-width: 100%;
  }
  .subtitle-paragraph-block {
    gap: var(--subtitle-text-gap);
    max-width: 100%;
  }
  
  #hero-section secondary-button .arrow-left {
    transition: transform 350ms ease-out;
  }
  
  #hero-section secondary-button:hover .arrow-left {
    transform: translateX(-8px);
  }
  #hero-section .subheading {
    color: var(--white);
  }
  #hero-section .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .container#hero-section {
    padding: var(--header-height) 0px var(--container-margin-y);
    ;
    background-color: var(--neutral);
    justify-content: center;
    align-content: center;
  }
  #hero-section .banner {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url(../images/acupuncture.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin: 0px var(--container-margin-x);
    filter: var(--drop-shadow);
    min-height: 60vh;
  }
  
  #hero-section .element-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--subheading-text-gap);
  }
  
  .text-area ul {
    margin-top: calc(var(--body1) / 3);
    margin-bottom: 0;
  
  }
  #table-of-contents {
    background-color: var(--highlight);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
  }
  .card-content {
    text-align: left;
  }
  .card-content .label {
    width: 100%;
  }
  .card-content ol {
    width: 100%;
  }
  .card-content li {
    width: calc(100% - 40px);
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    align-items: flex-start;
    column-gap: 100px;
  }

  .anchor {
    position: absolute;
    transform: translateY(calc(var(--primary-nav-height) * -1));
    display: hidden;
  }
  