.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.card {
    width: 280px;
    height: max-content;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    filter: var(--drop-shadow);
  }
.card-content {
    width: 100%;
    gap: 16px;
  }
  