@media screen and (max-width: 660px) {
  #hero-section .content {
    margin: 5vh;

    gap: 4vh;
  }
}
@media screen and (min-width: 660px) and (max-width: 1045px) {
  #hero-section .content {
    margin: 7.5vh;

    gap: 6vh;
  }
}

@media screen and (min-width: 1045px) {
  #hero-section .content {
    margin: 10vh;
    gap: 8vh;
  }
}
#hero-section .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#hero-section .text-area {
  width: 50%;
}
.container#hero-section {
  padding: var(--header-height) 0px 0px;
  background-color: var(--neutral);
  justify-content: center;
  align-content: center;
}
#hero-section .banner {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/close-up-hand-holding-acupuncture-needle.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  margin: 0px var(--container-margin-x);
  filter: var(--drop-shadow);
  min-height: 80vh;
}

#hero-section .element-block {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#hero-section .heading {
  color: var(--neutral);
}
#testimonials-section .card {
  width: 280px;
  height: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  filter: var(--drop-shadow);
}
#hero-section .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--container-margin-x);
}
#hero-section button {
  color: var(--white);
}
#hero-section button.secondary:hover .arrow-right,
#about-section button.secondary:hover .arrow-right {
  transform: translateX(8px);
}
#about-section button:hover {
  color: var(--hover);
}
